# CodeWarrior compiler
cw

# Kamek build files/directories
*.o
*.bin

# Packaged assets
*.szs
*.brstm

# Build directories
build
*.build
out

# Compiled Python scripts
__pycache__/
*.py[cod]
*$py.class
