# Executables and related files
*.config
*.dat
*.dll
*.exe

# Packaged assets
*.szs
*.brstm

# Build artifacts
build/
out/
src/payload/mvp/cup/CupData.cpp
src/payload/mvp/cup/CupCounts.h
*.ninja

# Compiled Python scripts
__pycache__/
*.py[cod]
*$py.class
