# CodeWarrior files
*.dll
*.dat
*.exe

# Kamek build files/directories
*.o
*.bin

# Packaged assets
*.szs
*.brstm

# Build artifacts
build/
out/
src/payload/midnight/cup/CupData.cpp
src/payload/midnight/cup/CupCounts.h
*.ninja

# Compiled Python scripts
__pycache__/
*.py[cod]
*$py.class
